
<section class="control">
    <h1>Controle do Sistema Elétrico</h1>

    <section class="control-cards">
        <div class="control-card">
            <div class="card-header">
                <i class="bi bi-lightbulb"></i>
                <span class="control-title">Iluminação Geral</span>
            </div>
            <label class="switch">
                <input type="checkbox" id="switchLighting">
                <span class="slider"></span>
            </label>
        </div>

        <div class="control-card">
            <div class="card-header">
                <i class="bi bi-sun"></i>
                <span class="control-title">Sistema de Produção Solar</span>
            </div>
            <label class="switch">
                <input type="checkbox" id="switchProduction" checked>
                <span class="slider"></span>
            </label>
        </div>
    </section>
</section>
