<section class="home">
    <h1>Controle de produção e consumo eléctrico</h1>

    <section class="cards">
        <div class="card">
            <span class="card-title">Consumo Geral</span>
            <div class="card-value-wrapper">
                <span class="card-value">345</span>
                <span class="card-unit">kWh</span>
            </div>
        </div>

        <div class="card">
            <span class="card-title">Produção Solar</span>
            <div class="card-value-wrapper">
                <span class="card-value">120</span>
                <span class="card-unit">kWh</span>
            </div>
        </div>

        <div class="card">
            <span class="card-title">Tensão de Rede</span>
            <div class="card-value-wrapper">
                <span class="card-value">230</span>
                <span class="card-unit">V</span>
            </div>
        </div>

        <div class="card">
            <span class="card-title">Corrente Total</span>
            <div class="card-value-wrapper">
                <span class="card-value">15.4</span>
                <span class="card-unit">A</span>
            </div>
        </div>

        <div class="card">
            <span class="card-title">Fator de Potência</span>
            <div class="card-value-wrapper">
                <span class="card-value">0.95</span>
                <span class="card-unit">cos φ</span>
            </div>
        </div>

        <div class="card">
            <span class="card-title">Frequência</span>
            <div class="card-value-wrapper">
                <span class="card-value">50.0</span>
                <span class="card-unit">Hz</span>
            </div>
        </div>
    </section>
</section>