<section class="home">
    <h1>Controle de produção e consumo eléctrico</h1>

    <section class="cards">
        <div class="card">
            <span class="card-title">Tensão de Operação</span>
            <div class="card-value-wrapper">
                <span class="card-value" id="voltage-value">0</span>
                <span class="card-unit" id="voltage-unit">V</span>
            </div>
        </div>

        <div class="card">
            <span class="card-title">Estado de corrente</span>
            <div class="card-value-wrapper">
                <span class="card-value" id="current-value">0</span>
                <span class="card-unit" id="current-unit">A</span>
            </div>
        </div>

        <div class="card">
            <span class="card-title">Potência Fornecida</span>
            <div class="card-value-wrapper">
                <span class="card-value" id="power-value">0</span>
                <span class="card-unit">W</span>
            </div>
        </div>
    </section>
</section>
